.box-shadow{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.300);
}

.vertical-scroll::-webkit-scrollbar{
    width: 8px;
    /* background-color: rgb(100 116 139); */
    /* background-color: rgba(30, 41, 59, 0.104); */
    /* border: 1px solid rgba(30, 41, 59, 0.404); */
    border-radius: 30px;
}
.vertical-scroll::-webkit-scrollbar-thumb{
    background-color: rgba(30, 41, 59, 0.100);
    border-radius: 20px;
    margin: 10px;
}

